<%- include('partials/header') %>

<main class="default__screen users__screen">
  <div class="default__screen-title users__screen-title">
    <h1>Usuários</h1>

    <button class="button-primary" id="open-modal-btn">+ Novo Usuário</button>
  </div>

  <div class="table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <span class="badge badge--type"><%= user.type %></span>
            </td>
            <td>
              <% if (user.status === 'active') { %>
                <span class="badge badge--status badge--active">ativo</span>
              <% } else { %>
                <span class="badge badge--status badge--inactive">inativo</span>
              <% } %>
            </td>
            <td>
              <div class="actions-cell">
              <!-- <a href="/users/edit/<%= user._id %>" class="action-link action-link--edit">Editar</a>
              <% if (user.status === 'active') { %>
              <a href="/users/deactivate/<%= user._id %>" class="action-link action-link--status">Desativar</a>
              <% } else { %>
                <a href="/users/activate/<%= user._id %>" class="action-link action-link--status">Ativar</a>
              <% } %> -->
              <a href="/users/edit/<%= user._id %>" class="action-link action-link--edit">Editar</a>

              <% if (user.status === 'active') { %>
                <form action="/users/deactivate/<%= user._id %>" method="POST" class="action-form">
                  <button type="submit" class="action-link action-link--status">Desativar</button>
                </form>
              <% } else { %>
                <%# Se estiver inativo, mostra o botão para ativar %>
                <form action="/users/activate/<%= user._id %>" method="POST" class="action-form">
                  <button type="submit" class="action-link action-link--status">Ativar</button>
                </form>
              <% } %>
              </div>
            </td>
          </tr>
        <% }) %>

        <%# Linhas vazias para preencher, se a lista for pequena (opcional) %>
        <% if (users.length < 5) { %>
          <% for(let i = 0; i < (5 - users.length); i++) { %>
            <tr class="empty-row">
              <td>&nbsp;</td><td></td><td></td><td></td><td></td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  
</main>
<%- include('partials/modal') %>

<%- include('partials/footer') %>

<script src="/javascript/modal.js"></script>